<h1 class="text-3xl my-4 inline-block">New Redirect</h1>
<a class="inline-block rounded bg-blue-500 text-white no-underline text-2xl p-2"
   href="https://github.com/CUCentralAdvancement/giving-backend/blob/main/docs/help/redirects.md"
   target="_blank">
  ?
</a>

<%= render 'form', redirect: @redirect %>

<%= link_to 'Back', redirects_path %>
